*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image:url('./assets/home/background-home-desktop.jpg');
    color:#fff;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    height: 600px;
}

header{
    margin-top:40px;
    width: 100%;
    height:100px;
    padding-left: 40px;
}
.menu{
    background-color:rgba(255, 255, 255, 0.144);
    float:right;
    list-style-type: none;
    padding-right: 100px;
    padding-left: 80px;
    

}
.menu li{
    float:left;
    padding:38px;
}
.logo{
    margin-top:26px;
    margin-bottom:26px;
}
.linha{
    display: inline-block;
    width: 455px;
    height: 2px;
    background-color: #fff;
    margin-left: 65px;
    position: absolute;
    margin-top: 45px;
    background-color:rgba(255, 255, 255, 0.171);
}

h1{
    font-size: 150px;
}
h2{
    font-size: 100px;
}
h3{
    font-size: 56px;
}
h4{
    font-family: 32px;
}
h5{
    font-size: 28px;
}
