body {
    background-image: url('../assets/crew/background-crew-desktop.jpg');
    background-size: cover;  
  }
    header{
      height: 21%;
      margin-bottom: 3%;
    }
    article{
      height: 55%;
    }
    .crew img{
      height: 475px;;
      width: 369px;
    }
    section h4{
      font-family: bellrfair;
      color:#485159;
      margin-bottom: 10px;
    }
    section h3{
      margin-bottom: 20px;
    }
    .tecnico{
      margin-left: 10%;
      padding-right: 0%;
      width: 60%;
    }
    .apr{
      margin-bottom: 5%;
      margin-left: 10%;
    }
    .radio{
      width: 17px;
      height: 17px;
      margin: 10px;
      appearance: none;
      border-radius: 10px;
      background-color:rgba(255, 255, 255, 0.144);
      cursor:pointer;
      position:relative;
      border:0px;
    }
    .radio:before{
      position:absolute;
      content:'';
      width: 17px;
      height: 17px;
      background:#fff;
      border-radius:10px;
      opacity:0; 
      transition:all 300ms ease-in-out;
      
    }
    .radio:hover{
      background-color: #85868b;
      transition:all 300ms ease-in-out;
    }
    .radio:checked:before{
    opacity: 1;
    }
    .crewMenu{
    border-bottom: 2px solid #fff;   
    }
    .crewMenu:hover{
    border-bottom: 2px solid #fff !important; 
  }
/* #imgTec{
    width: 475px;
    height: 650px;
} */
.buttons button:hover{
    border:1px solid #fff;
    transition:all 300ms ease-in-out;
    cursor:pointer;
}
.crew{
    position:relative;
  }
.crew img{
    position: fixed;
    bottom: 0;
  }
.equipe{
    position: fixed;
    bottom: 60px;
  }
  .tecnico p{
    width: 70%;
  }
  @media (min-width:930px) and (max-width:1250px){
    .equipe{
      bottom: 0px;
    }
    p{
      width: 80%;
    }
    section h3 {
      margin-bottom: 5px;
  }
  }
  @media(max-width:930px){
    body{
      background-image: url(../assets/crew/background-crew-tablet.jpg);
      background-size: cover;
    }
    /* article{
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 100%;
    } */
    article {
          display: grid !important;
          justify-items: center;
          text-align: center;
          height: 78%;
          width: 100%;
    }

    .crew img{
      position: inherit;
    }
    /* .crew {
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    } */
    .crew {
      height: 100%;
      display: grid;
      justify-items: center;
      align-items: end;
  }
  .apr h5{
    font-size: 20px;
  }
    .equipe{
      position: inherit;
      padding-bottom: 40px;
    }
    .tecnico{
      margin-left: 0%;
      width: 100%;
    }
    #resumo{
      width: 55%;
      height: 125px;
      margin: 0 auto;
    }
    header{
      padding-top:0px !important;
      height: 10%;
      margin-bottom: 7%;
    }
    .menu li{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .menu{
        padding-left: 4% !important;
        padding-right: 6% !important;
    }
    section h3{
      font-size: 50px;
    }
    strong{
      display: none;
    }
}
